@import url('https://fonts.googleapis.com/css?family=Mukta');
body{
  font-family: 'Mukta', sans-serif;
	height:100vh;
	min-height:550px;
	background-image: url(http://www.planwallpaper.com/static/images/Free-Wallpaper-Nature-Scenes.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
    overflow-y: hidden;
}
a{
  text-decoration:none;
  color:#444444;
}
.login-reg-panel{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	text-align:center;
    width:70%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color:#000000;
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height: 530px;
    position:absolute;
    top: -60px;
    width:38%;
    right:calc(58% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#B8B8B8;
}
.login-reg-panel #label-login, 
.login-reg-panel #label-register{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:10px;
    
    font-weight: 600;
    font-size: 18px;
}
.login-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
}
.register-info-box{
    width:30%;
    padding:0 50px;
    top:5%;
    right:0;
    position:absolute;
    text-align:left;
    
}
.right-log{right:50px !important;}

.login-show{
    
        z-index: 1;
         display:none;
        opacity:0; 
        transition:0.3s ease-in-out;
        color:#242424;
        text-align:left;
        padding:50px;
    }


.register-show{
    z-index: 1;
    /* display:none; 
     opacity:0;  */
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
    
}


.show-log-panel{
    display:block; 
    opacity:0.9;
}

.login-show a{
    display:inline-block;
    padding:10px 0;
}

.credit {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}
a{
  text-decoration:none;
  color:#2c7715;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    border-color: #EDEDED !important;
    margin-top: -8px;
    padding: .375rem .75rem;
  }

 #btn1{

background-color: green;

width: 85%;
height: 45px;
color: white;
border-radius: 2;
border-width: 0px;
cursor: pointer;
word-wrap: break-word;
white-space: normal !important;
opacity: 0.6;

}

.btn2{


    width: 50%;
    background-color: black;
    color: white;
    padding: 12px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 2;
    box-shadow: none;
    box-sizing: border-box;
}




@media only screen and (max-width: 800px) {
.white-panel{
     width: 565px;
    margin-right: -290px; 

}

}
@media (max-width: 800px){
    
    .register-info-box{
    
    display: none;
        
    }
    
    
    }
    @media (max-width: 1114px){
        .login-reg-panel {
        height: 450px;
        }
    }

.email{

margin-top: 1;


}


